@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//   font-family: "Inter";
//   src: url('../public/Inter/static/Inter-Regular.ttf');
// }

// * {
//   font-family: "Inter";
// }

body {
  background: rgb(246, 248, 250);
}

* {
  outline: none !important;
}

.project {
  .controls {
    transition: opacity 0.1s ease-in;
  }
  &:hover .controls {
    opacity: 1;
  }
}

input::placeholder {
  font-style: italic;
}

.events-section {
  .events-controls {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  &:hover .events-controls {
    opacity: 1;
  }

  .comment-section {
    .comment-controls {
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
    &:hover .comment-controls {
      opacity: 1;
    }
  }

  // .events-list > *:not(:last-child) {
  //   position: relative;
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     top: 20px;
  //     width: 1px;
  //     height: calc(100% - 20px + 12px);
  //     @apply bg-gray-300;
  //     left: 5px;
  //   }
  // }
}

.drag-in-progress {
  cursor: grab !important;
  user-select: none;
}
